mixin button({ size, location, color="primary", inverse=false, text="Button", tag="a", link="./handler.php", type= "button" } = {})
  - size = size ? `button_size_${size}` : false;
  - location = location ? `button_location_${location}` : false;
  - inverse = inverse ? "button_inverse" : false;

  if tag == "button"
    button(class=["button", "js-button", `button_color_${color}`, size, location, inverse], type=type)= text
  else
    a(class=["button", "js-button", `button_color_${color}`, size, location, inverse], href=link)= text