mixin button({ color, size, location, inverse=false, text="Button", isLink=true, link="./handler.php", type="button" } = {})
  - color = color ? `button_color_${color}` : "button_color_primary";
  - size = size ? `button_size_${size}` : false;
  - location = location ? `button_location_${location}` : false;
  - inverse = inverse ? "button_inverse" : false;
  - var tag = isLink ? "a" : "button";
  - var buttonLink = (tag === "a") ? link : false;
  - var buttonType = (tag === "button") ? type : false;

  #{tag}(class=["button", "js-button", color, size, location, inverse], href=buttonLink, type=buttonType)= text
