mixin form(options={})
  -
    var defaultInputs = [
      {
        name: "name",
        placeholder: "Your Name"
      },
      {
        name: "email",
        placeholder: "Your Email"
      }
    ]
  -
    options.inputs = options.inputs || defaultInputs
  - options.textarea = options.textarea || {}
  - options.textarea.name = options.textarea.name || "message"
  - options.textarea.placeholder = options.textarea.placeholder || "Your Message"
  - options.textarea.rows = options.textarea.rows || 4
  - options.btnText = options.btnText || "Submit"
  - options.btnStyle = options.btnStyle || "primary"

  form.form(action="./handler.php")
    each input in options.inputs
      .form__fieldset
        input(type="text", name=input.name, placeholder=input.placeholder)
        .form__val
    .form__fieldset
      textarea(name=options.textarea.name, rows=options.textarea.rows, placeholder=options.textarea.placeholder)
    +button({
      wrapperModifier: "form",
      modifier: [options.btnStyle, "form"],
      text: options.btnText,
      tag: "button",
      btnType: "submit"
    })