include ../button/button

mixin form({ btnColor, btnSize, inputs, textarea={}, action="./handler.php", btnLocation="form", btnText="Submit", btnTag="button", btnType="submit" } = {})
  -
    inputs = inputs || [
      {
        name: "name",
        placeholder: "Your Name"
      },
      {
        name: "email",
        placeholder: "Your Email"
      }
    ];
  - var { name: textareaName="message", placeholder: textareaPlaceholder="Your Message", rows: textareaRows="4" } = textarea;

  form.form.js-form(action=action)
    each input in inputs
      - var { name: inputName, placeholder: inputPlaceholder } = input;
      .form__fieldset
        input(type="text", name=inputName, placeholder=inputPlaceholder)
        .form__val.js-form__val
    .form__fieldset
      textarea(name=textareaName, placeholder=textareaPlaceholder, rows=textareaRows)
    .form__button-wrapper
      +button({
        color: btnColor,
        size: btnSize,
        location: btnLocation,
        text: btnText,
        tag: btnTag,
        type: btnType
      })