include ../button/button

mixin form({ buttonColor, buttonSize, inputs, textarea={}, action="./handler.php", buttonLocation="form", buttonText="Submit", buttonIsLink=false, buttonType="submit" } = {})
  -
    inputs = inputs || [
      {
        name: "login",
        placeholder: "Your Name"
      },
      {
        type: "email",
        name: "email",
        placeholder: "Your Email"
      }
    ];
  - var { name: textareaName="message", placeholder: textareaPlaceholder="Your Message", rows: textareaRows="3" } = textarea;

  form.form.js-form(action=action)
    each input in inputs
      - var { type: inputType="text", name: inputName, placeholder: inputPlaceholder } = input;
      .form__fieldset
        input.form__input.js-form__input(type=inputType, name=inputName, placeholder=inputPlaceholder)
        .form__tooltip.js-form__tooltip
    .form__fieldset
      textarea.form__textarea(name=textareaName, placeholder=textareaPlaceholder, rows=textareaRows)
    .form__button
      +button({
        color: buttonColor,
        size: buttonSize,
        location: buttonLocation,
        inverse: true,
        text: buttonText,
        isLink: buttonIsLink,
        type: buttonType
      })
