include _social-icon

mixin userProfile({ modifier, social, photo, name, profession })
  - modifier = modifier ? `user-profile__info_type_${modifier}` : false;
  -
    social = social || [
      {
        name: 'facebook',
        link: 'https://facebook.com'
      },
      {
        name: 'twitter',
        link: 'https://twitter.com'
      },
      {
        name: 'dribbble',
        link: 'https://dribbble.com'
      }
    ];

  .user-profile
    img.user-profile__photo(src=require(`../components/user-profile/${photo}.jpg`), alt=name)
    div(class=["user-profile__info", modifier])
      span.user-profile__name= name
      span.user-profile__profession= profession
      ul.user-profile__social
        +socialIcon(social)