mixin user-profile({ photo, name, profession, modifier, iconItems })
  - var iconModifier = modifier ? `user-profile__social-icon_type_${modifier}` : false;
  - modifier = modifier ? `user-profile__info_type_${modifier}` : false;
  -
    iconItems = iconItems || [
      {
        name: 'facebook',
        link: 'https://facebook.com'
      },
      {
        name: 'twitter',
        link: 'https://twitter.com'
      },
      {
        name: 'dribbble',
        link: 'https://dribbble.com'
      }
    ];

  .user-profile
    img.user-profile__photo(src=require(`../components/user-profile/${photo}.jpg`), alt=name)
    div(class=["user-profile__info", modifier])
      span.user-profile__name= name
      span.user-profile__profession= profession
      ul.user-profile__social
        each item in iconItems
          - var { name, link } = item;
          li(class=["user-profile__social-icon", `user-profile__social-icon_name_${name}`, iconModifier])
            a(href=link, target="_blank", rel="noopener noreferrer")
