include ../button/button

mixin messaging({ name, photo, greeting, message, buttonModifier="wide", buttonText="Reply", buttonIsLink=false, buttonType="submit" })
  - greeting = greeting || "Hey! So are we cool to meet at the art gallery? Say 8pm";
  - message = message || "Yeah that sounds great. See you then";

  section.messaging.js-messaging
    .messaging__header
      .messaging__head= name
      img.messaging__avatar(src=require(`../assets/images/${photo}.jpg`), alt=name)

    .messaging__main
      button.messaging__chat
      button.messaging__camera
      .messaging__intro
        p.messaging__greeting= greeting
      form.messaging__form(action="./handler.php")
        textarea.messaging__message(rows="2")= message
        .messaging__button
          +button({
            modifier: buttonModifier,
            inverse: true,
            text: buttonText,
            isLink: buttonIsLink,
            type: buttonType
          })
