mixin buttons(classes)
  button(class=["button", "button--primary", "button--small", classes], data-ripple="") Button
  button(class=["button", "button--primary", classes], data-ripple="") Button
  button(class=["button", "button--warning", classes], data-ripple="") Button
  button(class=["button", "button--warning", "button--small", classes], data-ripple="") Button

mixin arrow(direction, condition="")
  if direction == "left"
    - points = "5.8,3 3.8,5 5.8,7"
  else if direction == "right"
    - points = "4.3,3 6.3,5 4.3,7"
  - direction = "arrow--" + direction
  if condition
    - condition = "arrow--" + condition

  svg(class=["arrow", direction, condition], viewBox="0 0 10 10")
    circle(class="arrow__circle", cx="5", cy="5", r="4.7")
    polyline(class="arrow__polyline", points=points)

mixin toggle(checked=false)
  .toggle
    input.toggle__checkbox(type="checkbox", checked=checked)
    .toggle__background
    span.toggle__round

mixin checkbox(ident, size, path)
  input(class="checkbox", type="checkbox", id=ident, checked)
  label(class="checkbox__label", for=ident)
    svg(class="checkbox__checkmark", width=size, height=size)
      path(class="checkbox__check", d=path, stroke="#c0c0c0", stroke-width="3", fill="none")