mixin roomsList({ items, btnColor="primary", btnText="Забронировать" })

  each item in items
    - var { image, price, header, text, link="./handler.php" } = item;
    - text = text || "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque.";

    li.rooms__item
      .rooms__img(style=`background: url(${require(`../components/rooms/${image}.jpg`)}) no-repeat center`)
      span.rooms__price От $#{price}/сутки
      .rooms__content
        h3.rooms__header= header
        p.rooms__text= text
      +button({
        link,
        wrapperModifier: "rooms",
        modifier: btnColor,
        text: btnText
      })