include ../button/button

mixin rooms-item({ items, btnColor, btnText="Забронировать" })
  each item in items
    - var { img, price, header, text, link="./handler.php" } = item;
    - text = text || "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque.";

    li.rooms-item
      .rooms-item__img(style=`background: url(${require(`../components/rooms-item/${img}.jpg`)}) no-repeat center`)
      span.rooms-item__price От $#{price}/сутки
      .rooms-item__content
        h3.rooms-item__header= header
        p.rooms-item__text= text
      .rooms-item__button-wrapper
        +button({
          link,
          location: "rooms",
          text: btnText,
          color: btnColor
        })