include ../button/button

mixin rooms-item({ btnOptions, itemOptions })
    - var { btnColor, btnLocation="rooms", btnText="Забронировать" } = btnOptions;
    - var { img, price, header, text, btnLink="./handler.php" } = itemOptions;
    - text = text || "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque.";

    li.rooms-item
      .rooms-item__img(style=`background: url(${require(`../components/rooms-item/${img}.jpg`)}) no-repeat center`)
      span.rooms-item__price От $#{price}/сутки
      .rooms-item__content
        h3.rooms-item__header= header
        p.rooms-item__text= text
      .rooms-item__button
        +button({
          color: btnColor,
          location: btnLocation,
          text: btnText,
          link: btnLink
        })
