mixin toggle({ id, modifier, checked=false, text="" })
  - modifier = modifier ? `toggle__background_color_${modifier}` : false;

  .toggle
    label.toggle__label(for=`toggle${id}`)
      span= text
    .toggle__button
      input.toggle__checkbox(type="checkbox", id=`toggle${id}`, checked=checked)
      div(class=["toggle__background", modifier])
      span.toggle__round
