mixin news(options={})
  - options.modifier = options.modifier || false
  - options.isCalendar = options.isCalendar || false
  - var modifierDescr = options.modifier ? "news__description--" + options.modifier : false
  - var modifierTitle = options.isCalendar ? "news__title--small" : false

  .news
    img.news__preview(src=require("../components/news/" + options.image + ".jpg"), alt=options.title)
    div(class=["news__description", modifierDescr])
      if options.isCalendar
        .news__short-date
          span.news__day= options.date[0]
          span.news__month= options.date[1]
      h3(class=["news__title", modifierTitle])= options.title
      if !options.isCalendar
        p.news__date= options.date
      p.news__text= options.text
      if options.isCalendar
        +button({
          classes: "news__button",
          modifiers: "primary",
          text: "Add to calendar",
          link: "#calendar"
        })