mixin news({ image, title, date, text, modifier=false, isCalendar=false })
  - var modifierDescr = modifier ? `news__description_color_${modifier}` : false;
  - var modifierTitle = isCalendar ? "news__title_size_small" : false;

  .news
    img.news__preview(src=require(`../components/news/${image}.jpg`), alt=title)
    div(class=["news__description", modifierDescr])
      if isCalendar
        .news__short-date
          span.news__day= date[0]
          span.news__month= date[1]
      h3(class=["news__title", modifierTitle])= title
      if !isCalendar
        p.news__date= date
      p.news__text= text
      if isCalendar
        +button({
          location: "news",
          text: "Add to calendar",
          link: "#calendar"
        })